@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0px;
    box-sizing: content-box;
}

body{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.container{
    max-width: 70rem;
    padding: 0 2rem;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 25;
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 30;
    background: linear-gradient(to bottom, rgba( 0, 0, 0, 0.05), transparent)
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

.logo span{
    font-weight: 300;
}

.hamburger-menu{
    width: 1.55rem;
    height: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}    

.mountain1{
  position: absolute;
  bottom: -100px;
  width: 1500px;
  right: 0;
  z-index: 19;
}

.person{
  position: absolute;
  width: 650px;
  bottom: -100px;
  left: -70px;
  z-index: 20;
}

.mountain2{
  position: absolute;
  width: 1100px;
  bottom: -100px;
  left: 0;
  z-index: 18;
}

.mountain3{
  position: absolute;
  width: 900px;
  bottom: 150px;
  right: 0;
  z-index: 17;
}

.sky{
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 2150;
  height: 110%

}

.bar{
    position: relative;
    width: 1.2rem; 
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
}

.bar:before, .bar:after{
    content: '';
    position: absolute;
    width: 1.55rem;
    height: 3px;
    right: 0;
    background-color: #fff;
    border-radius: 2px;
}

.bar:before{
    transform: translateY(-8px);
}

.bar:after{
    transform: translateY(8px);
}

.big-title{
    position: absolute;
    z-index: 10;
    line-height: 4rem;
    top: calc(50% - 2rem);
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    color: #fff;
}

section{
  width: 100%;
  background-color: #151515;
  position: relative;
}

section .container{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 5fr);
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
}

section img{
    width: 100%;
}

section .container > *{
    margin: 0.5rem;
}

.content{
    color: #fff;
    transform: translateY(-100px);
}

.imgContainer{
    transform: translateY(100px);
}

.title{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    position: relative;
}

.border{
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #fff;
    bottom: 0;
    left: 0;
}

.shadow{
    position: absolute;
    bottom: 100%;
    height: 300px;
    width: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(to top, #151515, transparent);
}

.opacity{
    opacity: 0;
}

button{
  border: 0cm;
  background-color: transparent;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #151515;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 200px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  transition: 0.5s;
  color: #818181;
  font-weight: 30;
  letter-spacing: 2px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 50px;
  font-size: 45px;
  margin-left: 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media (max-width: 850px){
    section .container{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 600px){
    .big-title{
        font-size: 3rem
    }

    .text{
        font-size: .8rem;
    }

    .title{
        font-size: 1.2rem;
    }
}

@media(max-width: 600px){
    .sky {
      
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 120%;
      width: 250%;
    }
  }